version: 2.1
orbs:
  codecov: codecov/codecov@4.2.0
jobs:
  test:
    docker:
      - image: cimg/node:24.4.0
    steps:
      - checkout
      - run: npm ci
      - run: npm run test
      - codecov/upload
workflows:
    main:
      jobs:
        - test
