version: 2.1
orbs:
  node: circleci/node@7.1.0
  codecov: codecov/codecov@5.4.0
jobs:
  test:
    executor:
      name: node/default
      tag: '16.20.2'
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/github-explorer-web/node_modules
      - run: npm run test
      - codecov/upload
workflows:
    main:
      jobs:
        - test
